@media all and (max-width: 1790px) {
  #navigation {
    margin-bottom: 600px;
  }
  #navigation .nav-row .nav-1 {
    top: 790px;
    left: 1030px;
  }
  #navigation .nav-row .nav-3 {
    top: 525px;
  }
  #navigation .nav-row .nav-4 {
    top: 525px;
    left: 1030px;
  }
  #navigation .nav-row .nav-5 {
    top: 790px;
    left: 735px;
  }
  #navigation .nav-row .nav-6 {
    top: 790px;
    left: 430px;
  }
}
@media all and (max-width: 1630px) {
  header #feedback-button,
  header #header-menu {
    left: 290px;
  }
  #content {
    width: 1170px;
  }
  #content #rightcol {
    width: 860px;
  }
  #content #rightcol #product .product-desc {
    width: 550px;
  }
  #content #rightcol #product-full .full-description {
    width: 550px;
  }
  footer {
    width: 1170px;
  }
  .contacts-desc {
    width: 440px;
  }
}
@media all and (max-width: 1250px) {
  header {
    min-width: 1130px;
  }
  header #feedback-button,
  header #header-menu {
    left: 290px;
  }
  header #header-contacts {
    top: 80px;
    left: 880px;
  }
  #content {
    width: 1070px;
  }
  #content #rightcol {
    width: 760px;
  }
  #content #rightcol #product .product-desc {
    width: 450px;
  }
  #content #rightcol #product-full .full-description {
    width: 450px;
  }
  footer {
    width: 1070px;
  }
  .contacts-desc {
    width: 340px;
  }
  #navigation {
    margin-bottom: 600px;
  }
  #navigation .nav-row .nav-1 {
    top: 790px;
    left: 830px;
  }
  #navigation .nav-row .nav-2 {
    top: 525px;
    left: 230px;
  }
  #navigation .nav-row .nav-3 {
    top: 525px;
    left: 535px;
  }
  #navigation .nav-row .nav-4 {
    top: 525px;
    left: 830px;
  }
  #navigation .nav-row .nav-5 {
    top: 790px;
    left: 535px;
  }
  #navigation .nav-row .nav-6 {
    top: 790px;
    left: 230px;
  }
}
