html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.cb {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: 'HelvetivaNeueCyr-Thin';
  src: url('../fonts/HelveticaNeueCyr-Thin.otf') format('opentype'), url('../fonts/HelveticaNeueCyr-Thin.eot') format('embedded-opentype');
}
body {
  color: #555555;
  background: url('../img/bg.png') no-repeat left top #ffffff;
  font-family: 'HelvetivaNeueCyr-Thin';
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  letter-spacing: 1px;
}
a {
  text-decoration: none;
}
.clear {
  clear: both;
}
.download {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #f56f59;
}
.download:hover {
  color: #c12c23;
}
.download img {
  position: relative;
  top: 8px;
  margin-right: 10px;
}
.more {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fcfdfe;
  padding-top: 6px;
  width: 160px;
  height: 30px;
  background: url('../img/more.png') no-repeat;
}
.more:hover {
  background: url('../img/more-h.png') no-repeat;
}
header {
  height: 460px;
  width: 100%;
  position: relative;
}
header #header-menu {
  top: 20px;
  position: absolute;
  left: 1365px;
  width: 270px;
}
header #header-menu li {
  display: inline-block;
  margin-right: 20px;
}
header #header-menu li a {
  color: #686868;
  text-decoration: none;
}
header #header-menu li a:hover {
  color: #f56f59;
  font-style: 16px;
}
header #feedback-button {
  position: absolute;
  top: 72px;
  left: 1370px;
  background: url(../img/feedback-button.png) no-repeat 100%;
  color: #c12c23;
  height: 35px;
  width: 210px;
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
}
header #feedback-button:hover {
  cursor: pointer;
  color: #f56f59;
}
header #header-logo {
  position: absolute;
  top: 285px;
  left: 200px;
  text-align: right;
}
header #header-logo a,
header #header-logo img {
  display: inline-block;
}
header #header-logo a {
  position: relative;
  font-size: 24px;
  width: 330px;
  color: #c12c23;
}
header #header-logo a img {
  position: absolute;
  top: 0;
  margin-left: 10px;
}
header #header-contacts {
  position: absolute;
  top: 195px;
  left: 1000px;
  width: 235px;
  font-size: 18px;
}
header #header-contacts p {
  margin-bottom: 5px;
  vertical-align: top;
}
header #header-contacts p img {
  margin-right: 5px;
}
#content {
  width: 1270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 0 20px;
}
#content #leftcol,
#content #rightcol {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
#content #leftcol {
  width: 290px;
  margin-top: 80px;
}
#content #leftcol #leftmenu {
  margin-left: 20px;
}
#content #leftcol #leftmenu li {
  margin-bottom: 20px;
  padding-right: 60px;
}
#content #leftcol #leftmenu li a {
  font-size: 16px;
  color: #000000;
}
#content #leftcol #leftmenu li a:hover {
  color: #f56f59;
}
#content #rightcol {
  width: 960px;
}
#content #rightcol #breadcrumps {
  margin-bottom: 60px;
}
#content #rightcol #breadcrumps li {
  display: inline-block;
}
#content #rightcol #breadcrumps li:after {
  content: '»';
  margin-left: 10px;
  margin-right: 10px;
}
#content #rightcol #breadcrumps li a {
  font-size: 14px;
  color: #555555;
}
#content #rightcol #breadcrumps li a:hover {
  color: #f56f59;
}
#content #rightcol #breadcrumps li:last-child:after {
  content: none;
}
#content #rightcol #wrapper {
  text-align: left;
}
#content #rightcol #wrapper h1 {
  font-size: 36px;
  font-weight: bolder;
}
#content #rightcol #wrapper h2 {
  font-size: 18px;
  font-weight: bolder;
}
#content #rightcol #wrapper h3 {
  font-size: 16px;
  font-weight: bolder;
}
#content #rightcol #wrapper .divider-small {
  height: 1px;
  width: 70px;
  border-top: 2px solid #555555;
  margin-bottom: 20px;
  margin-top: 10px;
}
#content #rightcol #wrapper p {
  padding: 5px 5px 5px 0;
}
.divider-big {
  height: 1px;
  width: 855px;
  border-top: 1px solid #e46853;
  margin-bottom: 20px;
  margin-top: 60px;
}
footer {
  width: 1270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}
footer #contacts {
  margin-left: 20px;
}
/*product------------------------------*/
#product .product-image,
#product .product-desc {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
#product .product-image {
  width: 310px;
  height: 310px;
  float: left;
}
#product .product-desc {
  width: 650px;
  float: right;
}
#product .product-desc h1 {
  padding-left: 25px;
  width: 50%;
}
#product .product-desc .divider-small,
#product .product-desc .small-desc,
#product .product-desc .download,
#product .product-desc .more {
  margin-left: 25px;
}
#product .product-desc .small-desc,
#product .product-desc .download {
  font-size: 14px;
}
#product .product-desc .divider-small {
  margin-top: 10px;
}
/*product-full------------------------------*/
#product-full .full-description,
#product-full .product-image {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
#product-full .full-description {
  width: 650px;
}
#product-full .full-description h1 {
  width: 50%;
}
#product-full .full-description .desc-inner {
  width: 95%;
}
#product-full .product-image {
  width: 310px;
  height: auto;
}
/*contacts------------------------------*/
.map-image,
.contacts-desc {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.map-image {
  width: 420px;
  height: 420px;
}
.contacts-desc {
  width: 540px;
}
.contacts-desc h1 {
  padding-left: 25px;
}
.contacts-desc .divider-small,
.contacts-desc .small-desc,
.contacts-desc #inner-contacts {
  margin-left: 25px;
}
.contacts-desc .small-desc {
  font-size: 14px;
}
.contacts-desc #inner-contacts {
  width: 235px;
  font-size: 18px;
  margin-top: 20px;
}
.contacts-desc #inner-contacts p {
  padding: 0 !important;
  margin-bottom: 5px;
  vertical-align: top;
}
.contacts-desc #inner-contacts p img {
  margin-right: 5px;
}
/*product-all------------------------------*/
.product-wrapper {
  display: inline-block;
  margin-right: 40px;
  vertical-align: top;
  margin-top: 30px;
  width: 190px;
  height: 240px;
}
.product-wrapper img {
  width: 190px;
  height: 190px;
}
.product-wrapper .product-name {
  height: 45px;
  font-size: 14px;
}
.product-wrapper a {
  text-align: center;
  color: #000000;
}
.product-wrapper a:hover {
  color: #f56f59;
}
#pagination {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
#pagination ul {
  list-style: none;
}
#pagination ul li {
  display: inline-block;
  margin-right: 20px;
}
#pagination ul li a {
  font-size: 18px;
  color: #000000;
}
#pagination ul li a:hover {
  color: #f56f59;
}
#pagination ul li a.unactive:hover {
  color: #000000;
  cursor: default;
}
#pagination ul li a.current {
  padding: 5px 10px 5px 10px;
  background-color: #f56f59;
  color: #fcfdfe;
  border-radius: 50%;
}
.divider-medium {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 530px;
  height: 1px;
  border-top: 1px solid #e46853;
  margin-bottom: 20px;
}
#text {
  width: 90%;
  font-size: 14px;
}
/*navigation------------------------------*/
#navigation {
  margin-bottom: 390px;
}
#navigation .nav-row .nav {
  text-align: center;
  width: 205px;
  height: 205px;
  background: url('../img/bgnav.png') no-repeat center center;
  position: absolute;
}
#navigation .nav-row .nav ul {
  display: none;
  list-style: none;
  position: relative;
}
#navigation .nav-row .nav ul li a {
  font-size: 12px;
  margin-bottom: 10px;
  color: #686868;
}
#navigation .nav-row .nav ul li a:hover {
  color: #f56f59;
}
#navigation .nav-row .nav:hover {
  background: url('../img/bgnavh.png') no-repeat center center;
  cursor: pointer;
}
#navigation .nav-row .nav.nav-active {
  width: 305px;
  height: 305px;
  background: url('../img/bgnavh2.png') no-repeat center center;
}
#navigation .nav-row img {
  margin-top: 40px;
}
#navigation .nav-row p {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 160px;
  color: #fff;
  padding: 5px 5px 0 5px;
}
#navigation .nav-row .nav-6 {
  top: 140px;
  left: 1560px;
}
#navigation .nav-row .nav-5 {
  top: 320px;
  left: 1315px;
}
#navigation .nav-row .nav-4 {
  top: 450px;
  left: 1040px;
}
#navigation .nav-row .nav-3 {
  top: 515px;
  left: 735px;
}
#navigation .nav-row .nav-2 {
  top: 525px;
  left: 430px;
}
#navigation .nav-row .nav-1 {
  top: 490px;
  left: 130px;
}
#navigation .nav-row .nav-2 img,
#navigation .nav-row .nav-3 img,
#navigation .nav-row .nav-6 img {
  margin-top: 50px;
}
#navigation .nav-row .nav-2 p,
#navigation .nav-row .nav-3 p,
#navigation .nav-row .nav-6 p {
  font-size: 16px;
}
#navigation .nav-row .nav-5 img {
  margin-top: 45px;
}
#navigation .nav-row .nav-5 p {
  font-size: 16px;
}
#navigation .nav-row .nav-4 img {
  margin-top: 50px;
}
#navigation .nav-row .nav-4 p {
  font-size: 16px;
  width: 150px;
}
/*feedback------------------------------*/
#feedback {
  display: none;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -170px;
}
#feedback #feedback-close {
  text-align: center;
  position: relative;
  width: 40px;
  height: 20px;
  background: rgba(255, 255, 255, 0.75);
  left: 50%;
  margin-left: -20px;
  border-left: 1px solid #dcdee2;
  border-right: 1px solid #dcdee2;
  border-top: 1px solid #dcdee2;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  top: 1px;
}
#feedback #feedback-close:hover {
  cursor: pointer;
}
#feedback #feedback-body {
  padding: 5px 10px 15px 10px;
  width: 345px;
  height: 260px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #dcdee2;
  border-radius: 6px;
  font-size: 12px;
}
#feedback #feedback-body input[type=email],
#feedback #feedback-body textarea {
  width: 320px;
}
#feedback #feedback-body input[type=email],
#feedback #feedback-body textarea,
#feedback #feedback-body input[type=submit] {
  border: 1px solid #dcdee2;
  border-radius: 6px;
  padding: 10px;
  color: #9a9a9a;
  font-family: 'HelveticaNeueCyr-Thin', sans-serif;
}
#feedback #feedback-body input[type=submit] {
  width: 155px;
  font-size: 14px;
  height: 35px;
  margin-left: 120px;
  background-color: #fff;
}
#feedback #feedback-body input[type=submit]:hover {
  cursor: pointer;
}
