@media all and (max-width: 1790px) {
	#navigation {
		margin-bottom: 600px;

		.nav-row {

			.nav-1 {
				top: 790px;
				left: 1030px;
			}
			.nav-2 {
			}
			.nav-3 {
				top: 525px;
			}
			.nav-4 {
				top: 525px;
				left: 1030px;
			}
			.nav-5 {
				top: 790px;
				left: 735px;
			}
			.nav-6 {
				top: 790px;
				left: 430px;
			}
		}
	}
}
@media all and (max-width: 1630px) {
	header {
		#feedback-button, #header-menu {
			left: 290px;
		}
	}
	#content {
		width: 1170px;

		#rightcol {
			width: 860px;

			#product {

				.product-desc {
					width: 550px;
				}
			}
			#product-full {

				.full-description {
					width: 550px;
				}
			}
		}
	}
	footer {
		width: 1170px;
	}
	.contacts-desc {
		width: 440px;
	}
}
@media all and (max-width: 1250px) {
	header {
		min-width: 1130px;

		#feedback-button, #header-menu {
			left: 290px;
		}
		#header-contacts {
			top: 80px;
			left: 880px;
		}
	}
	#content {
		width: 1070px;

		#rightcol {
			width: 760px;

			#product {

				.product-desc {
					width: 450px;
				}
			}
			#product-full {

				.full-description {
					width: 450px;
				}
			}
		}
	}
	footer {
		width: 1070px;
	}
	.contacts-desc {
		width: 340px;
	}
	#navigation {
		margin-bottom: 600px;

		.nav-row {

			.nav-1 {
				top: 790px;
				left: 830px;
			}
			.nav-2 {
				top: 525px;
				left: 230px;
			}
			.nav-3 {
				top: 525px;
				left: 535px;
			}
			.nav-4 {
				top: 525px;
				left: 830px;
			}
			.nav-5 {
				top: 790px;
				left: 535px;
			}
			.nav-6 {
				top: 790px;
				left: 230px;
			}
		}
	}
}