@menucolor: #000;
@textcolor1: #555;
@textcolor2:  #686868;
@menucolor-h : #f56f59;
@textcolor3: #c12c23;
@bgcolor: #fff;
@linecolor: #e46853;
@textcolor4: #fcfdfe;
@feedback: #9a9a9a;
@feedback-b: #dcdee2;

//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//mixins
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.tc {
	text-align: center;
}
.dib {
	display: inline-block;
}
.db {
	display: block;
}
.cb {
	.db;
	margin-left: auto;
	margin-right: auto;
}
//
@font-face {
	font-family: 'HelvetivaNeueCyr-Thin';
	src: url('../fonts/HelveticaNeueCyr-Thin.otf') format('opentype'),
	url('../fonts/HelveticaNeueCyr-Thin.eot') format('embedded-opentype');
}
body {
	color: @textcolor1;
	background: url('../img/bg.png') no-repeat left top @bgcolor;
	font-family: 'HelvetivaNeueCyr-Thin';
	text-rendering: optimizeLegibility;
 	 font-feature-settings: "kern";
 	 -webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";
  	letter-spacing: 1px;
}
a {
	text-decoration: none;
}
.clear {
	clear: both;
}
.download {
	.dib;
	margin-top: 20px;
	margin-bottom: 25px;
	color: @menucolor-h;

	&:hover {
		color: @textcolor3;
	}
	img {
		position: relative;
		top: 8px;
		margin-right: 10px;
	}
}
.more {
	.db;
	.tc;
	font-size: 16px;
	color: @textcolor4;
	padding-top: 6px;
	width: 160px;
	height: 30px;
	background: url('../img/more.png') no-repeat;
}
.more:hover {
	background: url('../img/more-h.png') no-repeat;
}
header {
	height: 460px;
	width: 100%;
	position: relative;

	#header-menu {
		top: 20px;
		position: absolute;
		left: 1365px;
		width: 270px;

		li {
			.dib;
			margin-right: 20px;
		}
		li a {
			color: @textcolor2;
			text-decoration: none;
		}
		li a:hover {
			color: @menucolor-h;
			font-style: 16px;
		}
	}
	#feedback-button {
		position: absolute;
		top: 72px;
		left: 1370px;
		background: url(../img/feedback-button.png) no-repeat 100%;
		color: @textcolor3;
		height: 35px;
		width: 210px;
		font-size: 18px;
		.tc;
		padding-top: 15px;
	}
	#feedback-button:hover {
		cursor: pointer;
		color: @menucolor-h;
	}
	#header-logo {
		position: absolute;
		top: 285px;
		left: 200px;
		.tr;

		a,img {
			.dib;
		}
		a {
			position: relative;
			font-size: 24px;
			width: 330px;
			color: @textcolor3;

			img {
				position: absolute;
				top: 0;
				margin-left: 10px;
			}
		}
	}
	#header-contacts {
		position: absolute;
		top: 195px;
		left: 1000px;
		width: 235px;
		font-size: 18px;

		p {
			margin-bottom: 5px;
			vertical-align: top;

			img {
				margin-right: 5px;
			}
		}
	}
}
#content {
	width: 1270px;
	.cb;
	padding: 20px 20px 0 20px;

	#leftcol, #rightcol {
		.dib;
		margin-right: -4px;
		vertical-align: top;
	}
	#leftcol {
		width: 290px;
		margin-top: 80px;

		#leftmenu {
			margin-left: 20px;

			li {
				margin-bottom: 20px;
				padding-right: 60px;
			}
			li a {
				font-size: 16px;
				color: @menucolor;
			}
			li a:hover {
				color: @menucolor-h;
			}
		}
	}
	#rightcol {
		width: 960px;

		#breadcrumps {
			margin-bottom: 60px;

			li {
				.dib;
			}
			li:after {
				content: '»';
				margin-left: 10px;
				margin-right: 10px;
			}
			li a {
				font-size: 14px;
				color: @textcolor1;
			}
			li a:hover {
				color: @menucolor-h;
			}
			li:last-child:after {
				content: none;
			}
		}
		#wrapper {
			.tl;

			h1 {
				font-size: 36px;
				font-weight: bolder;
			}
			h2 {
				font-size: 18px;
				font-weight: bolder;
			}
			h3 {
				font-size: 16px;
				font-weight: bolder;
			}
			.divider-small {
				height: 1px;
				width: 70px;
				border-top: 2px solid @textcolor1;
				margin-bottom: 20px;
				margin-top: 10px;
			}
			p {
				padding: 5px 5px 5px 0;
			}
		}
	}
}
.divider-big {
	height: 1px;
	width: 855px;
	border-top: 1px solid @linecolor;
	margin-bottom: 20px;
	margin-top: 60px;
}
footer {
	width: 1270px;
	.cb;
	padding-bottom: 60px;

	#contacts {
		margin-left: 20px;
	}
}
/*product------------------------------*/
#product {

	.product-image, .product-desc {
		.dib;
		margin-right: -4px;
		vertical-align: top;
	}
	.product-image {
		width: 310px;
		height: 310px;
		float: left;
	}
	.product-desc {
		width: 650px;	
		float: right;

		h1 {
			padding-left: 25px;
			width: 50%;
		}
		.divider-small, .small-desc, .download, .more  {
			margin-left: 25px;
		}
		.small-desc, .download {
			font-size: 14px;
		}
		.divider-small {
			margin-top: 10px;
		}
	}
}
/*product-full------------------------------*/
#product-full {

	.full-description, .product-image {
		.dib;
		margin-right: -4px;
		vertical-align: top;
	}
	.full-description {
		width: 650px;

		h1 {
			width: 50%;
		}
		.desc-inner {
			width: 95%;
		}
	}
	.product-image {
		width: 310px;
		height: auto;
	}
}
/*contacts------------------------------*/
.map-image, .contacts-desc {
	.dib;
	vertical-align: top;
	margin-right: -4px;
}
.map-image {
	width: 420px;
	height: 420px;
}
.contacts-desc {
	width: 540px;

	h1 {
		padding-left: 25px;
	}
	.divider-small, .small-desc, #inner-contacts {
		margin-left: 25px;
	}
	.small-desc {
		font-size: 14px;
	}
	#inner-contacts {
		width: 235px;
		font-size: 18px;
		margin-top: 20px;

		p {
			padding: 0 !important;
			margin-bottom: 5px;
			vertical-align: top;

			img {
				margin-right: 5px;
			}
		}
	}
}
/*product-all------------------------------*/
.product-wrapper {
	.dib;
	margin-right: 40px;
	vertical-align: top;
	margin-top: 30px;
	width: 190px;
	height: 240px;

	img {
		width: 190px;
		height: 190px;
	}
	.product-name {
		height: 45px;
		font-size: 14px;
	}
	a {
		.tc;
		color: @menucolor;
	}
	a:hover {
		color: @menucolor-h;
	}
}
#pagination {
	.cb;
	margin-top: 40px;
	margin-bottom: 40px;

	ul {
		list-style: none;

		li {
			.dib;
			margin-right: 20px;
		}
		li a {
			font-size: 18px;
			color: @menucolor;
		}
		li a:hover {
			color: @menucolor-h;
		}
		li a.unactive:hover {
			color: @menucolor;
			cursor: default;
		}
		li a.current {
			padding: 5px 10px 5px 10px;
			background-color: @menucolor-h;
			color: @textcolor4;
			border-radius: 50%;
		}
	}
}
.divider-medium {
	.cb;
	width: 530px;
	height: 1px;
	border-top: 1px solid @linecolor;
	margin-bottom: 20px;
}
#text {
	width: 90%;
	font-size: 14px;
}
/*navigation------------------------------*/
#navigation {
	margin-bottom: 390px;

	.nav-row {

		.nav {
			.tc;
			width: 205px;
			height: 205px;
			background: url('../img/bgnav.png') no-repeat center center;
			position: absolute;

			ul {
				display: none;
				list-style: none;
				position: relative;

				li a {
					font-size: 12px;
					margin-bottom: 10px;
					color: @textcolor2;
				}

				li a:hover {
					color: @menucolor-h;
				}
			}
		}
		.nav:hover {
			background: url('../img/bgnavh.png') no-repeat center center;
			cursor: pointer;
		}
		.nav.nav-active {
			width: 305px;
			height: 305px;
			background: url('../img/bgnavh2.png') no-repeat center center;
		}
		img {
			margin-top: 40px;
		}
		p {
			.tc;
			.cb;
			font-size: 14px;
			width: 160px;
			color: #fff;
			padding: 5px 5px 0 5px;
		}
		.nav-6 {
			top: 140px;
			left: 1560px;
		}
		.nav-5 {
			top: 320px;
			left: 1315px;
		}
		.nav-4 {
			top: 450px;
			left: 1040px;
		}
		.nav-3 {
			top: 515px;
			left: 735px;
		}
		.nav-2 {
			top: 525px;
			left: 430px;
		}
		.nav-1 {
			top: 490px;
			left: 130px;
		}
		.nav-2, .nav-3, .nav-6 {

			img {
				margin-top: 50px;
			}
			p {
				font-size: 16px;
			}
		}
		.nav-5 {

			img {
				margin-top: 45px;
			}
			p {
				font-size: 16px;
			}
		}
		.nav-4 {

			img {
				margin-top: 50px;
			}
			p {
				font-size: 16px;
				width: 150px;
			}
		}
	}
}
/*feedback------------------------------*/
#feedback {
	display: none;
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 200px;
	margin-left: -170px;

	#feedback-close {
		.tc;
		position: relative;
		width: 40px;
		height: 20px;
		background: rgba(255,255,255,0.75);
		left: 50%;
		margin-left: -20px;
		border-left: 1px solid @feedback-b;
		border-right: 1px solid @feedback-b;
		border-top: 1px solid @feedback-b;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		top: 1px;
	}
	#feedback-close:hover {
		cursor: pointer;
	}
	#feedback-body {
		padding: 5px 10px 15px 10px;
		width: 345px;
		height: 260px;
		background: rgba(255,255,255,0.75);
		border: 1px solid @feedback-b;
		border-radius: 6px;
		font-size: 12px;

		input[type=email], textarea {
			width: 320px;
		}
		input[type=email], textarea, input[type=submit] {
			border: 1px solid @feedback-b;
			border-radius: 6px;
			padding: 10px;
			color: @feedback;
			font-family: 'HelveticaNeueCyr-Thin', sans-serif;
		}
		input[type=email]:focus, textarea:focus, input[type=submit]:focus {
			outline: 0;
		}
		input[type=submit] {
			width: 155px;
			font-size: 14px;
			height: 35px;
			margin-left: 120px;
			background-color: #fff;
		}
		input[type=submit]:hover {
			cursor: pointer;
		}
	}
}